<select id="ciudadseleccionada">
{% for ciudad in ciudades %}
	<option value="{{ ciudad.slug }}" 
		data-url="{{ url('ciudad_cambiar', {'ciudad': ciudad.slug}) }}"
		{{ ciudadActual == ciudad.slug ? 'selected="selected"' : '' }}>
		{{ ciudad.nombre }}
	</option>}
	option
{% endfor %}
</select>

<script type="text/javascript">
	var listaCiudades = document.getElementById('ciudadseleccionada');
	var ciudad = listaCiudades.options[listaCiudades.selectedIndex].value;

	listaCiudades.onchange = function() {
		var url = listaCiudades.options[listaCiudades.selectedIndex].getAttribute('data-url');
		window.location = url;
	}
</script>