{% extends '::frontend.html.twig' %}

{% block title %}Detalles de {{ oferta[0].nombre }}{% endblock %}
{% block id 'oferta' %}

{% block article %}
	{% include 'OfertaBundle:Default:includes/oferta.html.twig' %}
{% endblock %}

{% block aside %}
	<section id="relacionadas">
		<h2>Ofertas en otras ciudades</h2>
		<ul>
			{% for relacionada in relacionadas %}
			<li>
				{{ relacionada.ciudad.nombre }}: 
				<a href="{{ path('oferta', {'ciudad': relacionada.ciudad.slug, 'slug': relacionada.slug}) }}">
					{{ relacionada.nombre }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
{% endblock %}



